.table-control {
	margin-bottom: 1em;
	display: flex;
	justify-content: space-between;
}

.table-control .left-side,
.table-control .right-side {
	display: flex;
	flex-direction: row;
}

.table-control .left-side > * {
	margin-right: 1rem;
}

.table-control .right-side > * {
	margin-left: 1rem;
}

.table-control .export-csv-btn a {
	color: #ffffff;
	text-decoration: none;
	text-transform: none;
}

.table-control .columns-dialog {
	display: flex;
	flex-direction: column;
}

.table-control .columns-dialog .column-checkall {
	border-bottom: 1px solid #dcdcdc;
}

.table-control .columns-dialog .column-list {
	display: grid;
	grid-template-columns: repeat(2, auto);
}

.table-control .columns-dialog .checkbox-container {
	width: max-content;
	height: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px;
}

.table-control .filter-dialog .add-filter-btn {
	padding-left: 8px;
	font-size: 14px;
}

.table-control .filter-dialog .start-filter-btn {
	font-size: 14px;
	height: 32px;
}

.table-control .filter-dialog .filter-table {
	border-spacing: 0;
	width: 100%;
	text-align: left;
}

.table-control .filter-dialog .filter-table th,
.table-control .filter-dialog .filter-table td {
	padding: 8px 12px;
	font-size: 14px;
}

.table-control .filter-dialog .filter-dialog-footer {
	margin-top: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.table-control .checkbox-container input {
	margin-right: 8px;
}
